[user]
	name = jonjia
	email = jiawenhuiwar3@163.com
[includeIf "gitdir:~/work/"]
	path = .gitconfig-work
[pull]
	ff = only
[init]
	defaultBranch = main
[diff]
  tool = "vscode-insiders"
[difftool "vscode-insiders"]
  cmd = code-insiders --wait --diff $LOCAL $REMOTE
